/* Changes */

header{
    box-shadow: rgba(46, 46, 46, 0.2) 0px 2px 8px 0px;
    width: calc(100dvw - 232px);
    max-height: 96px;
}

body {
    width: 100dvw;
}

.sidebar-container {
    width: 100%;
}
  
.sidebar-menu {
    width: 100%;
}

.header-icons-container {
    width: 104px;
    height: 56px;
    justify-content: space-between;
    align-items: center;
  }
  
.help-iconBox{
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Add Task */
.contentBox{
    display: grid;
    place-items: center;
    min-height: calc(100dvh - 120px);
}
.contentLimit{
    max-width: 1440px;
    max-height: 600px;
    width: 100%;
    display: grid;
    place-items: center;
}
.contentWrapper{
    display: grid;
    align-items: stretch;
    max-width: 940px;
    width: 100%;
}
.inputOrg{
    display: flex;
    padding-top: 40px;
}
.taskInfomations{
    height: 376px;
    max-width: 440px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.typeBars{
    min-height: 48px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    padding-left: 15px;
    padding-right: 15px;
    border-color: var(--outline-color);
    box-sizing: border-box;
    line-height: normal;
    background-color: white;
    display: flex;
    align-items: center;
}
.typeBars::placeholder{
    color: var(--outline-color);
}
input[type="date"]::-webkit-datetime-edit {
    color: var(--outline-color);
    cursor: text;
}
.typeBars span{
    padding-top: 5px;
}
.inputOrg span{
    font-size: 20px;
    padding-bottom: 7px;
}
.spanGlue{
    display: flex;
    flex-direction: column;
}
.inputOrg hr{
    height: 424px;
    width: 1px;
    margin: 0px 30px;
    border: none;
    background-color: var(--outline-color);
}
.taskCategorysation{
    height: 400px;
    max-width: 440px;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    flex-direction: column;
}
.priorityArange{
    display: flex;
    justify-content: space-between;
}
.priorityBtns{
    height: 56px;
    width: 136px;
    padding: 16px 10px 16px 8px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    background-color: white;
    box-shadow: rgb(0, 0, 0, 0.1) 0px 0px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.priorityMediumBtn{
    height: 56px;
    width: 136px;
    padding: 16px 10px 16px 8px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #FFA800;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottomButtons{
    background-color: blue;
}
