/* FONT */
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

img,
svg {
  max-width: 100%;
  display: block;
}

button,
a {
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* GENERAL */
:root {
  /* colors */
  --primary-color: #2a3647;
  --hover-color: #29abe2;
  --active-color: #091931;
  --white-color: #ffffff;
  --black-color: #000000;
  --outline-color: #d1d1d1;
  /* transitions */
  --transition: all 175ms ease-in-out;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  width: 100dvw;
  background-color: #f6f7f8;
  display: flex;
}

.layout-container {
  position: relative;
  height: 100dvh;
  width: calc(100dvw - 232px);
  overflow: auto;
}

.layout-container::-webkit-scrollbar {
  display: none;
}

.layout-container,
.sidebar {
  min-height: 100vh;
}

h1 {
  font-size: 61px;
  font-weight: 700;
}

.mt-8 {
  margin-top: 8px;
}

.no-scroll {
  overflow: hidden;
}

.flex-end {
  display: flex;
  align-self: flex-end;
}

/* HEADER */
header {
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px 20px 116px;
  color: var(--black-color);
  font-size: 20px;
  background-color: var(--white-color);
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.1);
  flex-grow: 1;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}

#header-logo {
  display: none;
}

.header-icons-container {
  width: 104px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.help-iconBox {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.help-icon:hover {
  width: 24px;
}

.user-profile-icon {
  border: 3px solid #2a3647;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--hover-color);
  background-color: var(--white-color);
  font-size: 20px;
  font-weight: 700;
}

.user-profile-icon:hover,
.user-profile-icon:active {
  background-color: rgb(12, 46, 98, 0.12);
  border-radius: 50%;
}

#header-nav-dropdown-toggle {
  display: none;
}

#header-menu-btn {
  cursor: pointer;
  z-index: 1001;
}

#header-nav-dropdown {
  position: fixed;
  right: 20px;
  top: 96px;
  transform: translateX(150%);
  transition: var(--transition);
}

#header-nav-dropdown-toggle:checked ~ #header-nav-dropdown {
  transform: translateX(0);
}

#header-nav-dropdown a {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  padding: 12px 16px;
}

#header-nav-dropdown li:hover {
  background-color: #2a3d59;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: column;
  max-width: 180px;
  padding: 16px 8px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0 0 5px 3px rgb(0, 0, 0, 0.04);
}

.menu li {
  font-size: 16px;
  color: #cdcdcd;
  /* padding: 12px 16px; */
}

.logout-btn {
  background-color: transparent;
  color: inherit;
  border: none;
  padding: 12px 16px;
}

.footer-navigation {
  display: none;
}

/* SIDEBAR */
.logo {
  margin-bottom: 50px;
}

.sidebar {
  background-color: var(--primary-color);
  color: var(--white-color);
  width: 232px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 64px 0;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  width: 100%;
}

.sidebar-menu {
  color: #cdcdcd;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  cursor: pointer;
  user-select: none;
}

.sidebar-menu-link img {
  filter: brightness(0) saturate(100%) invert(85%) sepia(0%) saturate(1556%) hue-rotate(212deg) brightness(99%) contrast(89%);
}

.sidebar-menu-link {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 56px;
}

.sidebar-menu-link:hover {
  background-color: #2a3d59;
}

.active-link {
  pointer-events: none;
  background-color: var(--active-color);
  color: var(--white-color);
}

.active-link img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(156deg) brightness(102%) contrast(102%);
}

.sidebar-footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding-left: 56px;
}

.sidebar-footer-link {
  font-weight: 400;
  line-height: 1.2;
  color: #a8a8a8;
}
.sidebar-footer-link:hover {
  color: #29abe2;
}

/* MEDIA QUERIES */
@media (max-width: 1080px) {
  #header-logo {
    display: block;
    height: 56px;
    margin-left: -76px;
  }

  #header-title {
    display: none;
  }

  .footer-navigation {
    display: block;
  }

  .sidebar {
    display: none;
  }

  .help-iconBox {
    display: none;
  }

  .header-icons-container {
    justify-content: flex-end;
  }

  .sidebar-menu {
    position: fixed;
    bottom: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 0;
    height: 80px;
    padding: 0 8px;
    background-color: var(--primary-color);
    z-index: 5;
  }

  .sidebar-menu-link {
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
    padding: 0;
    width: 80px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .sidebar-menu-link img {
    width: 24px;
    height: 24px;
  }

  .active-link {
    border-radius: 16px;
    padding: 0;
    text-align: center;
  }

  .sidebar-menu-link:hover {
    border-radius: 16px;
  }

  .sidebar,
  .layout-container {
    width: 100%;
  }
}

@media (max-width: 672px) {
  header {
    padding: 20px 16px 20px 92px;
  }
}

@media (max-width: 350px) {
  .sidebar-menu-link {
    scale: 0.8;
    width: 80px;
  }
  .sidebar-menu {
    padding: 0;
  }
  .sidebar-menu li {
    width: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
