/*----- */
/* FONT */
/*----- */

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

/*------ */
/* RESET */
/*------ */

* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

img,
svg {
  max-width: 100%;
  display: block;
}

button,
a {
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*-------- */
/* GENERAL */
/*-------- */

:root {
  /* colors */
  --primary-color: #2a3647;
  --hover-color: #29abe2;
  --active-color: #091931;
  --white-color: #ffffff;
  --black-color: #000000;
  /* transitions */
  --transition: all 200ms ease-in-out;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

main,
.sidebar {
  min-height: 100vh;
}

h1 {
  font-size: 61px;
  font-weight: 700;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 232px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 40px 32px 116px;
  color: var(--black-color);
  font-size: 20px;
}

.header-icons-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.help-icon:hover {
  width: 24px;
}

.user-profile-icon {
  border: 3px solid #2a3647;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #29abe2;
  background-color: var(--white-color);
  font-size: 20px;
  font-weight: 700;
}

.user-profile-icon:hover {
  background-color: rgb(12, 46, 98, 0.12);
}

.logo {
  margin-bottom: 50px;
}

.sidebar {
  background-color: var(--primary-color);
  color: var(--white-color);
  width: 232px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 64px 0;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.sidebar-menu {
  color: #cdcdcd;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar-menu-link img {
  filter: brightness(0) saturate(100%) invert(85%) sepia(0%) saturate(1556%) hue-rotate(212deg) brightness(99%) contrast(89%);
}

.sidebar-menu-link {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 56px;
}

.sidebar-menu-link:hover {
  background-color: #2a3d59;
}

.active-link {
  pointer-events: none;
  background-color: var(--active-color);
  color: var(--white-color);
}

.active-link img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(156deg) brightness(102%) contrast(102%);
}

.sidebar-footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding-left: 56px;
}

.sidebar-footer-link {
  font-weight: 400;
  line-height: 1.2;
  color: #a8a8a8;
}
.sidebar-footer-link:hover {
  font-weight: 700;
  color: #29abe2;
}
