.contentBox {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100dvh - 96px);
}
.contentLimit {
  max-width: 1440px;
  width: 100%;
  padding: 20px;
  display: grid;
  place-items: center;
}
.contentWrapper {
  display: grid;
  align-items: stretch;
  max-width: 940px;
  width: 100%;
}
.contentWrapper button:hover {
  transform: scale(0.95);
}
.inputOrg {
  display: flex;
  padding-top: 40px;
}
.taskInfomations {
  height: 376px;
  max-width: 440px;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.typeBars {
  min-height: 48px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  padding: 0 15px;
  border-color: var(--outline-color);
  background-color: white;
  font-size: 20px;
  cursor: text;
}
.typeBars::placeholder {
  color: var(--outline-color);
}
.typeBars:focus,
.typeBars:active {
  border-color: var(--hover-color);
  outline: none; /* Entfernt den Standard-Fokus-Rahmen */
}
#date-input {
  color: var(--outline-color);
}

#date-input.filled {
  color: black;
}
.typeBars span {
  padding-top: 5px;
}
.typePriorityBars {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}
.inputOrg span {
  font-size: 20px;
  padding-bottom: 7px;
}
.spanGlue {
  display: flex;
  flex-direction: column;
}
.inputOrg hr {
  height: 424px;
  width: 1px;
  margin: 0px 30px;
  border: none;
  background-color: var(--outline-color);
}
.taskCategorysation {
  height: 400px;
  max-width: 440px;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  flex-direction: column;
}
.priorityArange {
  display: flex;
  justify-content: space-between;
}
.priorityBtns {
  height: 56px;
  width: 136px;
  padding: 16px 10px 16px 8px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  background-color: white;
  box-shadow: rgb(0, 0, 0, 0.1) 0px 0px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selected {
  background-color: #ffa800;
  color: white;
  font-weight: bold;
}
.subtask-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subtask-container img {
  position: absolute;
  right: 15px;
  height: 24px;
  width: 24px;
  cursor: pointer;
  z-index: 50;
}
.subtask-container img:hover {
  transform: scale(0.8);
  justify-self: center;
  align-self: center;
}
.bottomButtons {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.bottomButtonsSplice {
  gap: 20px;
  display: flex;
  justify-content: flex-end;
}
.bottomButtons button {
  height: 56px;
  gap: 4px;
  border-radius: 10px;
  font-size: 20px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  border-style: solid;
}
.bottomButton1 {
  color: var(--primary-color);
  border-width: 1px;
  border-color: var(--primary-color);
  background-color: rgba(0, 0, 0, 0);
}
.bottomButton2 {
  background-color: var(--outline-color);
  color: white;
  font-weight: 700;
  border-color: var(--outline-color);
  cursor: not-allowed;
}
.bottomButton2.enabled {
  background-color: var(--primary-color);
  color: white;
  font-weight: 700;
  cursor: pointer;
}
label {
  color: #ff8190;
}

/* Selects */
.dropdown-selected {
  align-items: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-align: start;
  background-image: url("../assets/icons/arrow_drop_downaa.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) center;
  background-size: 24px;
}
.dropdown-options {
  display: none;
  position: absolute;
  width: 100%;
  max-width: 440px;
  background: white;
  border: 1px solid #ccc;
  z-index: 60;
  border-radius: 10px;
  max-height: 145px;
  overflow: scroll;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
}
.dropdown-options .option {
  padding: 10px;
  cursor: pointer;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.dropdown-options .option:hover {
  background-color: var(--active-color);
  color: white;
}
.dropdown-selected img {
  width: 20px;
  height: 20px;
}
