.contentBox {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100dvh - 96px);
}
.contentLimit {
  max-width: 1440px;
  width: 100%;
  padding: 20px;
  display: grid;
  place-items: center;
}
.contentWrapper {
  display: grid;
  align-items: stretch;
  max-width: 940px;
  width: 100%;
}
.inputOrg {
  display: flex;
  padding-top: 40px;
}
.taskInfomations {
  height: 376px;
  max-width: 440px;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.typeBars {
  min-height: 48px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  padding: 0 15px;
  border-color: var(--outline-color);
  background-color: white;
  font-size: 20px;
  cursor: text;
}
.typeBars::placeholder {
  color: var(--outline-color);
}
.typeBars:focus,
.typeBars:active {
  border-color: var(--hover-color);
  outline: none;
}
.typeBars:hover {
  border: 1px solid var(--hover-color);
}
#date-input {
  color: var(--outline-color);
}

#date-input.filled {
  color: black;
}
.typeBars span {
  padding-top: 5px;
}
.typePriorityBars {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}
.inputOrg span {
  font-size: 20px;
  padding-bottom: 7px;
}
.spanGlue {
  display: flex;
  flex-direction: column;
  position: relative;
}
.inputOrg hr {
  height: 424px;
  width: 1px;
  margin: 0px 30px;
  border: none;
  background-color: var(--outline-color);
}
.taskCategorysation {
  max-width: 440px;
  display: flex;
  gap: 25px;
  flex-grow: 1;
  flex-direction: column;
}
.priorityArange {
  display: flex;
  justify-content: space-between;
}
.priorityBtns {
  height: 56px;
  width: 136px;
  padding: 16px 10px 16px 8px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  background-color: white;
  box-shadow: rgb(0, 0, 0, 0.1) 0px 0px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.priorityBtns:hover {
  transform: scale(0.95);
}
.selected {
  background-color: #ffa800;
  color: white;
  font-weight: bold;
}
.subtask-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bottomButtons {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.bottomButtonsSplice {
  gap: 20px;
  display: flex;
  justify-content: flex-end;
}
.bottomButtons button {
  height: 56px;
  gap: 4px;
  border-radius: 10px;
  font-size: 20px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  border-style: solid;
}
.bottomButton1 {
  color: var(--primary-color);
  border-width: 1px;
  border-color: var(--primary-color);
  background-color: rgba(0, 0, 0, 0);
}
.bottomButton1:hover {
  border-color: var(--hover-color);
  color: var(--hover-color);
}
.x-icon {
  width: 15.5px;
  height: 15.5px;
  position: relative;
}
.x-icon::before,
.x-icon::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--active-color);
  top: 50%;
  left: 0;
}
.bottomButton1:hover .x-icon::before,
.bottomButton1:hover .x-icon::after {
  background-color: var(--hover-color);
}
.x-icon::before {
  transform: rotate(45deg);
}
.x-icon::after {
  transform: rotate(-45deg);
}
.bottomButton2 {
  background-color: var(--outline-color);
  color: white;
  font-weight: 700;
  border-color: var(--outline-color);
  cursor: not-allowed;
}
.bottomButton2.enabled {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.bottomButton2.enabled:hover {
  background-color: var(--hover-color);
  border-color: var(--hover-color);
}
label {
  color: #ff8190;
}

/* Selects */
.dropdown-selected {
  cursor: pointer;
  display: flex;
  width: 100%;
  text-align: left;
  background-image: url("../assets/icons/arrow_drop_downaa.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) center;
  background-size: 24px;
}
.dropdown-options {
  display: none;
  position: absolute;
  width: 100%;
  max-width: 440px;
  background: white;
  border: 1px solid #ccc;
  z-index: 60;
  border-radius: 10px;
  max-height: 194px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
  scrollbar-width: thin;
  font-size: 20px;
}
.dropdown-options .option {
  padding: 15px;
  cursor: pointer;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}
.dropdown-options .option:hover {
  background-color: rgb(240, 240, 240);
}
.option.selected:hover {
  background-color: var(--active-color);
  cursor: pointer;
}
.dropdown-selected img {
  width: 20px;
  height: 20px;
}
#selectedContacts {
  display: flex;
  align-items: center;
  gap: 3px;
  padding-top: 10px;
}

.hidden-checkbox {
  width: 24px;
  height: 24px;
  opacity: 0;
  position: absolute;
  opacity: 0; 
  z-index: 100;
  cursor: pointer;
}
.hidden-checkbox:checked ~ .unchecked {
  display: none;
}
.hidden-checkbox:not(:checked) ~ .checked {
  display: none;
  z-index: 10;
}

#showUpRequired{
  color: #ff8190;
  font-size: 12px;
  bottom: -25px;
}

.subtaskNavigator{
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 15px;
  cursor: pointer;
}
.subtaskNavigator img:hover{
  scale: 0.90;
}
.subtaskNavigator hr{
  height: 24px;
  margin: 0px 0px;
  border: none;
  background-color: var(--outline-color);
}
#newSubtask{
  cursor: pointer;
}
#addSubtask{
  display: block;
  width: 24px;
  height: 24px;
}
#confirmDeleteNewSubtask{
  display: none;
  align-items: center;
  justify-content: space-around;
  width: 60px;
}
#confirmDeleteNewSubtask img{
  height: 24px;
  width: 24px;
  filter: invert();
}

#subtaskListElement{
  height: 30px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15px;
  margin-top: 8px;
  border-radius: 10px;
  font-size: 15px;
  background-color: rgb(240, 240, 240);
}
#editDelate{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 15px;
}
#editDelate img{
  height: 24px;
  width: 24px;
  cursor: pointer;
}
#editDelate hr{
  height: 20px;
  margin: 0px 6px;
}

.dot::before {
    content: "•";
    font-size: 1.2em;
    padding-right: 5px;
    padding-bottom: 3px;
}
