@media (max-width: 1190px) {
  .contentWrapper {
    max-width: 440px;
  }
  .priorityArange button {
    width: 122.4px;
    height: 50.4px;
    font-size: 20px;
  }
  .priorityArange img{
    width: 13.5px;
  }
  .inputOrg {
    flex-direction: column;
  }
  .hrHider {
    display: none;
  }
  .taskInfomations {
    width: 100%;
    padding-bottom: 24px;
  }
  .taskCategorysation {
    width: 100%;
    padding-bottom: 60px;
  }
  h1 {
    max-width: 440px;
  }
  .bottomButtons {
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
    width: 408px;
    justify-content: flex-end;
  }
  .bottomButtons span {
    display: none;
  }
}
@media (max-width: 1080px) {
  .bottomButtons {
    position: fixed;
    bottom: 80px;
    width: 400px;
    justify-self: center;
  }
  .contentWrapper {
    position: relative;
  }
  .contentLimit {
    width: 100%;
  }
  .taskCategorysation {
    padding-bottom: 140px;
  }
  .kanban-title {
    color: white;
  }
}

@media (max-width: 450px) {
  .taskInfomations {
    width: 100%;
    padding: 0;
  }
  .taskCategorysation {
    padding: 0;
    padding-top: 35px;
    gap: 35px;
  }
  .inputOrg {
    padding: 0;
    padding-top: 25px;
    padding-bottom: 80px;
    height: auto;
    position: relative;
    scale: 0.8;
  }
  .contentWrapper {
    padding: 0;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .contentWrapper h1 {
    scale: 0.8;
    position: absolute;
    left: 4%;
  }
  .bottomButtons {
    width: 100%;
    scale: 0.8;
    bottom: 72px;
  }
  .priorityBtns span {
    display: none;
  }
  .priorityBtns img{
    margin-left: 0;
  }
  .kanban-title {
    min-width: 230px;
  }
  .priorityBtns {
    font-size: 16px;
  }
  .priorityArange{
    justify-content: space-around;
  }
  .priorityArange button{
    width: 65px;
  }
}
