.cards-container {
  min-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-radius: 24px;
  padding: 8px;
}

.task-card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 252px;
  height: 100%;
  flex-shrink: 0;
  padding: 16px;
  border-radius: 24px;
  background-color: var(--white-color);
  box-shadow: 0 0 10px 3px rgb(0, 0, 0, 0.08);
  cursor: grab;
  user-select: none;
}

.task-card:active {
  cursor: grabbing;
}

.dragging {
  opacity: 0.5;
  transform: rotate(5deg);
}

.drag-area-highlight {
  background-color: rgb(0, 0, 0, 0.05);
  border: 1px dashed rgb(0, 0, 0, 0.2);
  margin: 16px;
}

.task-category {
  font-size: 16px;
  color: var(--white-color);
  width: fit-content;
  padding: 4px 16px;
  border-radius: 8px;
}

.task-card-title {
  font-weight: 700;
  color: var(--primary-color);
}

.task-card-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2; /* for future support */
  color: #a8a8a8;
  margin-top: 8px;
}

.subtasks-container {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 12px;
  color: var(--black-color);
}

.progress-bar {
  width: 128px;
  background-color: #f4f4f4;
  height: 8px;
  border-radius: 8px;
}

.progress-fill {
  width: 128px;
  background-color: #4589ff;
  height: 8px;
  border-radius: 16px;
}

.assignedto-priority-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-card-assignedto-container {
  display: flex;
}

.category-icon-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* MEDIA QUERIES */
@media (max-width: 672px) {
  .cards-container {
    flex-direction: unset;
    flex-wrap: nowrap;
    overflow: auto;
    height: auto;
    width: auto;
    padding: 8px;
  }
}
