.content {
  position: absolute;
  top: 96px;
  left: 232px;
  width: calc(100% - 232px);
  padding: 79.5px 64px 0;
}

.board-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.board-search-add-wrapper {
  display: flex;
  align-items: center;
  gap: 32px;
}

#find-task {
  width: 312px;
  border: 1px solid #a8a8a8;
  border-radius: 10px;
  padding: 14px 16px;
}

#find-task::placeholder {
  color: #d1d1d1;
  font-size: 20px;
  font-weight: 400;
}

#find-task:focus {
  outline: 1px solid var(--hover-color);
  border: 1px solid var(--hover-color);
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-btn {
  position: absolute;
  right: 0;
  background: transparent;
  border: none;
  padding: 0 24px;
}

.search-btn img:hover {
  filter: brightness(0) saturate(100%) invert(65%) sepia(48%) saturate(3184%) hue-rotate(165deg) brightness(94%) contrast(88%);
}

.separator {
  position: absolute;
  right: 64px;
  top: -6px;
  width: 1px;
  height: 32px;
  background-color: #d1d1d1;
}

.board-columns {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-top: 48px;
}

.board-column {
  width: 100%;
  max-width: 252px;
}

.column-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.add-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  color: var(--primary-color);
  border: none;
}

.add-btn:hover {
  color: var(--hover-color);
}

.add-btn:active {
  color: var(--active-color);
}

.task-title {
  font-size: 20px;
  font-weight: 700;
  color: #42526e;
}

.no-task {
  padding: 14px 0;
  font-weight: 400;
  font-size: 16px;
  background-color: #e7e7e7;
  color: #a8a8a8;
  border: 1px dashed #a8a8a8;
  border-radius: 8px;
  box-shadow: 0 0 4px 0 rgb(0, 0, 0, 0.16);
  text-align: center;
}

.cards-container {
  min-width: 252px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.task-card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 252px;
  height: 100%;
  padding: 16px;
  border-radius: 24px;
  background-color: var(--white-color);
  box-shadow: 0 0 10px 3px rgb(0, 0, 0, 0.08);
}

.task-category {
  font-size: 16px;
  color: var(--white-color);
  width: fit-content;
  padding: 4px 16px;
  border-radius: 8px;
}

.technical-category {
  background-color: #1fd7c1;
}

.userstory-category {
  background-color: #0038ff;
}

.task-card-title {
  font-weight: 700;
  color: var(--primary-color);
}

.task-card-description {
  color: #a8a8a8;
  margin-top: 8px;
}

.subtasks-container {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 12px;
  color: var(--black-color);
}

.progress-bar {
  width: 128px;
  background-color: #f4f4f4;
  height: 8px;
  border-radius: 8px;
}

.progress-fill {
  width: 128px;
  background-color: #4589ff;
  height: 8px;
  border-radius: 16px;
}

.assignedto-priority-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-card-assignedto-container {
  display: flex;
}

.task-card-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -8px;
  width: 32px;
  height: 32px;
  color: var(--white-color);
  font-size: 12px;
  border: 1px solid var(--white-color);
  border-radius: 50%;
}

.task-card-avatar:first-child {
  margin-left: 0;
}
