/*
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}
*/

:root {
  /* colors */
  --primary-color: #2a3647;
  --hover-color: #29abe2;
  --active-color: #091931;
  --white-color: #ffffff;
  --black-color: #000000;
  --outline-color: #D1D1D1;
  --ahref-color: #888b90;
  /* transitions */
  --transition: all 200ms ease-in-out;
  --text-color:#ADADAD;
  --inputs-color: #A8A8A8;
  --border-color: #D1D1D1;
  --checkbox-color: #2A3647;
  --submit-button: #2A3647;
  --h2-color: black;
  --blue-color: #29ABE2;
}

*{
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
}
.max-width{
  max-width: 1920px;
  /*margin: 0 auto;*/
}
button,
a {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: var(--ahref-color);
}

.wrapper{
  display: flex;
  height: 100vh;
}

body{
  position: relative;
}

.d_none{
  display: none;
}

.message-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  margin: 24px;
  opacity: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  background-color: var(--primary-color);
  font-size: 16px;
  border-radius: 20px;
  padding: 24px 30px;
  width: 280px;
  box-shadow: 0 0 4px 0 rgb(0, 0, 0, 0.1);
  pointer-events: none;
  transform: var(--transition);
}

.message-box.show {
  opacity: 1;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 21px;
  line-height: 1.2;
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 10px;
  border: none;
}
.btn:hover {
  background-color: var(--hover-color);
  border: none;
}


.wrapper > .sidebar {
  width: 220px;
}

.wrapper > div:not(.sidebar) {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.content-area {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 220px); /* verhindert Überschuss rechts */
  width: 100%;
  overflow: hidden;
}

/*MAIN*/

main{
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
}

.layout-container{
  overflow: hidden;
}

.contacts-section{
  display: flex;
}

#contact-list-body{
  padding-top: 24px;
}

#contact-list{
  background-color: #ffffff;
  padding-left: 40px;
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 24px;
  overflow: auto;
  height: calc(100vh - 70px);
  box-shadow: 5px 0 5px rgb(0, 0, 0, 0.1);
}

#contact-list button{
  padding: 8px 48px 8px 48px;
}

/* Grundstil für die Kontaktliste */
.contact-list {
  margin: 20px;
}

/* Abschnitt für jeden Buchstaben */
.letter-section {
  margin-bottom: 20px;
}

/* Der Buchstabe (als Überschrift) */
.letter {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

/* Stil für jeden Kontakt */
.contact {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 16px 24px;
}
.contact:hover{
  cursor: pointer;
  background-color: var(--hover-color);
  border: none;
  border-radius: 15px;
}
.contact:hover a{
  color: white;
}
.active-contact{
  background-color: var(--primary-color);
  border: none;
  border-radius: 15px;
}
.active-contact:hover {
  background-color: var(--primary-color);
}
.active-contact .monogram{
  border: 1px solid var(--white-color);
}

/* Monogramm (Feld) */
.monogram {
  width: 40px;
  height: 40px;
  /*background-color: #3498db;*/
  color: white;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 15px;
}

/* Kontakt-Informationen */
.contact-info {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

/* Name des Kontakts */
.name {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
.active-contact .name{
  color: var(--white-color);
}

main{
  display: block;
}

/* E-Mail-Adresse */
main a{
  font-size: 14px;
  margin-top: 5px;
  color: var(--hover-color);
}

/*CONTENT*/

#contact-content-details{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.contentfix{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding-bottom: 24px;
}

.divider {
  width: 2px;
  height: 30px;
  background-color: var(--hover-color);
}
.contentfix p{
  color: var(--primary-color);
}

.content-top{
  display: flex;
  align-items: center;
  gap: 32px;
}

.contact-details-wrapper{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

h1{
  font-size: 42px;
}

#contenttop{
  margin: 48px auto 0 48px;
}

.contact-monogram{
  width: 90px;
  height: 90px;
  font-size: 40px;
} 

.contact-details{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.edit-and-delete{
  display: flex;
  gap: 16px;
  cursor: pointer;
}
.edit,
.delete{
  display: flex;
  align-items: center;
  gap: 8px;
}

.edit-and-delete svg{
  fill: var(--primary-color);
  height: 20px;
}
.edit-and-delete p{
  color: var(--primary-color);
}

.contact-information-title{
  padding-bottom: 24px;
}

.contact-info-item{
  padding-bottom: 24px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

/*New Contact Pop up/Layout*/

#layout{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.25);
  top: 0;
  bottom: 0;
  min-height: 100%;
  width: 100vw;
  z-index: 1000;
}

#popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  width: fit-content;
  height: fit-content;
  display: flex;
  overflow: hidden;
}

.popup-close{
  position: absolute;
  top: 48px;
  right: 48px;
  cursor: pointer;
}
.popup-close svg{
  fill: var(--primary-color);
}

/*Left-Side*/

.popup-left{
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  height: 450px;
  padding: 48px;
}

.contact-logo{
  width: 55.6px;
  height: 66.48px;
}
.popup-left h1,
.popup-left p{
  color: var(--white-color);
}

/*Right Side*/

.popup-right{
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  gap: 56px;
  padding: 80px 48px;
}

.profile-logo{
  padding: 40px;
  background-color: var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 70px;
}
.profile-logo svg{
  fill: var(--white-color);
  width: 46px !important;
  height: 46px !important;
}

/*FORM*/

form{
  width: 400px;
}

.input-container {
  position: relative;
  width: 100%;
  margin-bottom: 16px;
}

.input-container input {
  width: 100%;
  padding: 10px 40px 5px 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  height: 40px;
  /*line-height: 40px;*/
  transition: 150ms ease;
}
.input-container input::placeholder{
  color: var(--text-color);
  font-size: 20px;
  transition: none;
}
.input-container input:hover{
  border: 2px solid var(--blue-color);
  padding: 10px 40px 5px 10px;
}
.input-container input:focus{
  outline: none;
}

.input-container svg{
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  pointer-events: none;
  fill: var(--text-color);
}

.create-buttons-div{
  display: flex;
  gap: 24px;
}

.create-buttons-div button{
  display: flex;
  justify-content: center;
  align-items: center;
}
.create-buttons-div button:first-child {
  background-color: var(--white-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  gap: 4px;
  padding: 16px;
}
.create-buttons-div button:first-child svg{
  height: 16px;
  aspect-ratio: 1/1;
  fill: var(--primary-color);
}

.create-buttons-div button:last-child {
  background-color: var(--primary-color);
  color: var(--white-color);
  border: 1px solid var(--white-color);
  border-radius: 10px;
  gap: 4px;
  padding: 16px;
}
.create-buttons-div button:last-child svg{
  height: 16px;
  aspect-ratio: 1/1;
  fill: var(--white-color);
}




@media (min-width: 1440px) {
  .popup {
    width: 1212px;
  }
}

@media (max-width: 1024px) {
  .popup {
    width: 90%;
  }
}