/*MAIN*/

main {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  display: block;
}

.contacts-section {
  display: flex;
}

.layout-container {
  overflow-y: hidden;
}

#contact-list-body {
  padding-top: 24px;
  padding-top: 24px;
}

#contact-list {
  display: block;
  background-color: #ffffff;
  padding-left: 40px;
  padding-right: 24px;
  padding-bottom: 24px;
  overflow-y: auto;
  height: calc(100vh - 70px);
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.contact-list-header {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 1;
  padding: 24px 0;
}

#contact-list button {
  width: 100%;
}

.contact-list {
  margin: 20px;
}

.letter-section {
  margin-bottom: 20px;
}

.letter {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.add-new-contact-div {
  position: fixed;
  top: 88px;
  background-color: white;
  height: 110px;
  padding-top: 42px;
}

.contact {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 16px 24px;
}
.contact:hover {
  cursor: pointer;
  background-color: var(--hover-color);
  border: none;
  border-radius: 15px;
}
.contact:hover a {
  color: white;
}
.active-contact {
  background-color: var(--primary-color);
  border: none;
  border-radius: 15px;
}
.active-contact:hover {
  background-color: var(--primary-color);
}
.active-contact .monogram {
  border: 1px solid var(--white-color);
}

.monogram {
  aspect-ratio: 1;
  width: 40px;
  height: 40px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 15px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.name {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
.active-contact .name {
  color: var(--white-color);
}

.email a {
  font-size: 14px;
  margin-top: 5px;
  color: var(--hover-color);
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#contact-content-details {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.contentfix-computer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding-bottom: 24px;
}

.divider-vertical {
  width: 3px;
  height: 56px;
  background-color: var(--hover-color);
}
.divider-horizontal {
  height: 2px;
  width: 80px;
  background-color: var(--hover-color);
}
.contentfix-computer p,
.contentfix-mobile p {
  color: var(--primary-color);
}

.content-top {
  display: flex;
  align-items: center;
  gap: 32px;
}

.contact-details-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

#contenttop {
  padding: 48px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.edit-and-delete {
  display: flex;
  gap: 16px;
  cursor: pointer;
}
.edit,
.delete {
  display: flex;
  align-items: center;
  gap: 8px;
}

.edit-and-delete svg,
.dropdown-menu .edit svg,
.dropdown-menu .delete svg {
  fill: var(--primary-color);
  height: 20px;
}
.edit-and-delete p {
  color: var(--primary-color);
}
.edit:hover svg,
.delete:hover svg,
.edit:hover p,
.delete:hover p {
  fill: var(--hover-color);
  color: var(--hover-color);
}

.contact-information-title {
  padding-bottom: 24px;
}

.contact-info-item {
  padding-bottom: 24px;
  gap: 16px;
  display: flex;
  flex-direction: column;
}
.contact-info-item a {
  color: var(--hover-color);
}

#mobile-add-button,
.mobile-dropdown-wrapper,
.contentfix-mobile {
  display: none;
}

.slide-in-right {
  animation: slideFromRight 0.3s ease-out forwards;
}
.slide-out-right {
  animation: slideToRight 0.3s ease-in forwards;
}

@keyframes slideFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideToRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}
