.dFlex {
    display: flex;
    justify-content: flex-start;
    align-items: start;
}

.dFlexForBtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    padding: 100px;

    h2,
    span {
        font-size: 24px;
        font-weight: bold;
    }

    button{
        border: none;
        background-color: transparent;
        color: #29abe2;
        font-size: 28px;
    }

    button:hover{
        border-radius: 32px;
        padding: 2px;
        background-color: rgba(0, 0, 0, 0.01);
    }

    span {
        padding-right: 32px;
    }

    p {
        padding-bottom: 8px;
    }

    i {
        color: #29abe2;
    }

    b {
        font-weight: bold;
    }
}