.dFlex {
  display: flex;
  justify-content: flex-start;
  align-items: start;
}

.dFlexForBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  padding: 100px;
  max-width: 1440px;

  h2,
  span {
    font-size: 24px;
    font-weight: bold;
  }

  button {
    border: none;
    background-color: transparent;
    color: var(--hover-color);
    font-size: 28px;
  }

  button:hover {
    border-radius: 32px;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.01);
  }

  span {
    padding-right: 32px;
  }

  p {
    padding-bottom: 8px;
  }

  i {
    color: var(--hover-color);
  }

  b {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }
}

.legal-links-container {
  display: flex;
  gap: 16px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.login-container img {
  width: 24px;
  height: 24px;
}

.logged-out {
  width: 120px;
  aspect-ratio: 16 / 9;
}

@media (max-width: 672px) {
  .content {
    padding: 24px;
  }
}

@media (max-width: 435px) {
  h1 {
    font-size: 46px;
  }
}

@media (max-width: 350px) {
  h1 {
    font-size: 36px;
  }

  .logged-out {
    aspect-ratio: 16 / 9;
  }

  .legal-links-container {
    gap: 36px;
  }

  .sidebar-menu {
    justify-content: space-evenly;
  }
}
