/*----- */
/* FONT */
/*----- */

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: italic;
}

/*----- */
/* GENERAL */
/*----- */

:root {
  /* colors */
  --primary-color: #2a3647;
  --hover-color: #29abe2;
  --active-color: #091931;
  --white-color: #ffffff;
  --black-color: #000000;
  --outline-color: #d1d1d1;
  /* transitions */
  --transition: all 175ms ease-in-out;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: "Inter", sans-serif;
    background-color: #f6f7f8;
    display: flex;
    flex-direction: column;
    min-height: 96vh;
}

.max-width-login{
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
}

.wrapper-login{
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginHeader {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 32px 60px;

    span {
        margin-right: 16px;
        font-size: 20px;
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

form{
  border-radius: 16px;
  padding: 32px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    width: 100%;

    h1 {
        font-size: 56px;
        margin-top: 0;
    }

    input {
        border-radius: 8px;
        border: 2px solid var(--border-color);
    }

    .message {
        margin-top: 10px;
        font-size: 0.9rem;
        color: red;
    }

    #error-message {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s ease;
        color: red;
        font-size: 0.9rem;
    }

    .red-border{
        border: 1px solid red !important;
    }

    #loginMessage.fade-in {
        opacity: 1;
    }

    #loginMessage.fade-out {
        opacity: 0;
    }
}

footer {

    a {
        text-decoration: none;
        color: #aaa;
        cursor: pointer;
        transition: color 0.2s ease, transform 0.2s ease;
    }

    a:hover {
        color: var(--hover-color);
        font-weight: bold;
        transform: scale(1.03);
    }
}

.pr-40 {
    padding-right: 40px;
}

.mb-12 {
    margin-bottom: 12px;
}

/*----- */
/* LOADINGSCREEN */
/*----- */

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 0.5s ease;
}

#logo {
    height: 122px;
    transition: transform 1s ease, top 1s ease, left 1s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
}

#logo.fly {
    top: 72px;
    left: 72px;
    transform: translate(0, 0);
}

#loader.hidden {
    opacity: 0;
    pointer-events: none;
}

/*----- */
/* ASSETS */
/*----- */

.headlineLine {
    width: 136px;
    height: 3px;
    background-color: var(--hover-color);
    border: none;
    margin-top: -24px;
    margin-bottom: 30px;
}

.loginBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 100px;
    padding: 40px;
    border-radius: 16px;
    background-color: var(--white-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 500px;
    min-height: auto;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    button {
        margin-top: 32px;
    }
}

.singUpBtn {
    border: none;
    background-color: var(--primary-color);
    padding: 12px 12px;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    font-size: 14px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.singUpBtn:hover {
    background-color: var(--hover-color);
    transform: scale(1.01);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.loginBtn {
    border: none;
    font-weight: bold;
    background-color: var(--primary-color);
    padding: 8px 16px;
    color: var(--white-color);
    cursor: pointer;
    border-radius: 6px;
    font-size: 18px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.loginBtn:hover {
    background-color: var(--hover-color);
    transform: scale(1.01);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.guestLoginBtn {
    border: 0.5px solid var(--primary-color);
    font-weight: bold;
    background-color: var(--white-color);
    padding: 8px 16px;
    color: var(--primary-color);
    cursor: pointer;
    border-radius: 6px;
    font-size: 18px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.guestLoginBtn:hover {
    border: 0.5px solid var(--hover-color);
    color: #29abe2;
    transform: scale(1.01);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.inputWrapper {
    position: relative;
    margin-bottom: 16px;
    width: 100%;
  max-width: 422px;
}

.inputWrapper img {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.inputWrapper input {
    padding: 10px 10px 10px 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

input:hover{
  border: 2px solid var(--blue-color);
}

input:focus{
outline: none;
border: 2px solid var(--blue-color);
}

.d_none{
    display: none;
}
.log-in-form-button-div {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%; /* Damit sich Buttons an Formbreite orientieren können */
}

@media (max-width: 900px){
    .loginHeader {
        div {
            display: none;
        }
    }
    .mobile-loginheader{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
        margin: 40px 0;
    }
    .log-in-form-button-div {
        flex-direction: column;
    }
    .wrapper-login{
        position: relative;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    
    .loginBtn,
    .guestLoginBtn {
        width: 100%;
        max-width: 160px; /* oder was dir gefällt */
        box-sizing: border-box;
        text-align: center;
    }
}
