*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body{
  background-color: #f6f7f8;
  font-family: "Inter", sans-serif;
  font-weight: 400;

  overflow: hidden;
  background-color: #f6f7f8;
}

:root{
  --text-color:#ADADAD;
  --inputs-color: #A8A8A8;
  --border-color: #D1D1D1;
  --checkbox-color: #2A3647;
  --submit-button: #2A3647;
  --h2-color: black;
  --blue-color: #29ABE2;
}
.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.max-width{
  max-width: 1920px;
  margin: 0 auto;
}

header{
  padding: 20px 40px 20px 116px;
  background-color: transparent;
  display: block;
  box-shadow: none;
}
.logo{
  height: 60px;
  margin: 0;
}

.form-div {
  flex: 1;
}

.back-icon{
  position: absolute;
  top: 40px;
  left: 16px;
  fill: var(--blue-color);
  cursor: pointer;
}

form{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px;
  background-color: #FFFFFF;
  padding: 32px 56px 32px 56px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

form > div{
  width: 100%;
  display: flex;
  justify-content: center;
}

h1{
  font-size: 40px;
  font-weight: bold;
}

.headlineLine {
  width: 136px;
  height: 3px;
  background-color: #29abe2;
  border: none;
  margin-bottom: 32px;
}

.input-container {
  position: relative;
  width: 100%;
  margin-top: 8px;
}

.input-container input {
  width: 100%;
  font-size: 16px;
  padding: 10px 40px 5px 10px;
  border: 2px solid var(--border-color);
  border-radius: 5px;
  height: 40px;
  line-height: 40px;
  transition: 150ms ease;
}
.input-container input::placeholder{
  color: var(--text-color);
  font-size: 20px;
  transition: none;
}
.input-container input:hover{
  border: 2px solid var(--blue-color);
}
.input-container input:focus{
  outline: none;
  border: 2px solid var(--blue-color);
}

.input-container svg{
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  pointer-events: none;
  fill: var(--text-color);
}

.checkbox-input-container{
  position: relative;
  width: 100%;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  user-select: none;
  margin-bottom: 24px;
  margin-top: 24px;
}

.custom-checkbox-wrapper input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.custom-checkbox {
  width: 18px;
  height: 18px;
  border: 2px solid var(--checkbox-color);
  border-radius: 4px;
  background-color: white;
  position: relative;
  transition: background-color 0.2s;
}

.custom-checkbox-wrapper input[type="checkbox"]:checked + .custom-checkbox {
  background-color: var(--checkbox-color);
  border-color: var(--checkbox-color);
}
.custom-checkbox-wrapper p{
  color: var(--text-color);
}
.custom-checkbox-wrapper a{
  color: var(--blue-color);
  text-decoration: none;
}

form button{
  background-color: var(--submit-button);
  color: #FFFFFF;
  font-weight: bold;
  border: none;
  padding: 8px 16px 8px 16px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 24px;
}

form button:disabled{
  background-color: #CCC;
  color: #666;
  cursor: not-allowed;
}

form input:last-of-type {
  margin-bottom: 8px;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-bottom: 16px;
}

footer a{
  text-decoration: none;
  color: var(--text-color);
}

footer a:hover{
  color: var(--blue-color);
}


.d-none{
  display: none !important;
}

.error-message-div{
  display: flex;
  justify-content: flex-start;
}

.error-message {
  color: red;
  font-size: 12px;
  position: absolute;
  bottom: -8px;
  left: 0px;
}

.red-border{
  border: 2px solid red !important;
}

@media (min-width: 1440px){
  form{
    width: 1000px;
    aspect-ratio: 2/1;
  }
  form button{
    font-size: 24px;
    padding: 16px 32px 16px 32px;
  }
  .logo{
    height: 100px;
  }
  h1{
    font-size: 56px;
  }
  .headlineLine{
    width: 208px;
  }
  p{
    font-size: 24px;
  }
  footer a{
    font-size: 40px;
  }
  .input-container input{
    font-size: 24px;
    padding: 10px 40px 12px 10px;
  }
}

@media (max-width: 600px){
  header{
    padding: 16px 16px 16px 16px;
  }
  .form-div{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  form{
    padding: 8px 16px 8px 16px;
  }
  form button{
  font-size: 16px;
}
  .back-icon{
    top: 8px;
  }
  h1{
    font-size: 32px;
  }
  .headlineLine{
    width: 120px;
  }
  .custom-checkbox-wrapper{
    margin-bottom: 8px;
    margin-top: 8px;
  }
  footer{
    margin-top: 16px;
  }
}