*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body, html {
  height: 100%;
  margin: 0;
  overflow: hidden; /* verhindert Scrollen */
}

:root{
  --text-color:#ADADAD;
  --inputs-color: #A8A8A8;
  --border-color: #D1D1D1;
  --checkbox-color: #2A3647;
  --submit-button: #2A3647;
  --h2-color: black;
  --blue-color: #29ABE2;
}

.max-width-signup{
  max-width: 1920px;
  margin: 0 auto;
}

.wrapper-signup {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-550px, -284px);
}

.logo{
  height: 80px;
  margin: 0;
}

.back-icon{
  position: absolute;
  top: 60px;
  left: 16px;
  fill: var(--blue-color);
  cursor: pointer;
}

form{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px;
  background-color: #FFFFFF;
  padding: 32px 56px 32px 56px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form > div{
  width: 100%;
  display: flex;
  justify-content: center;
}

.h1div{
  margin-bottom: 32px;
}
h1{
  font-size: 60px;
  font-weight: bold;
}

.headlineLine {
  width: 136px;
  height: 3px;
  background-color: #29abe2;
  border: none;
  margin-top: -24px;
  margin-bottom: 32px;
}

.input-container {
  position: relative;
  width: 100%;
  margin-top: 16px;
}

.input-container input {
  width: 100%;
  padding: 10px 40px 5px 10px;
  border: 2px solid var(--border-color);
  border-radius: 5px;
  height: 40px;
  line-height: 40px;
  transition: 150ms ease;
}
.input-container input::placeholder{
  color: var(--text-color);
  font-size: 20px;
  transition: none;
}
.input-container input:hover{
  border: 2px solid var(--blue-color);
}
.input-container input:focus{
  outline: none;
  border: 2px solid var(--blue-color);
}

.input-container svg{
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  pointer-events: none;
  fill: var(--text-color);
}

.checkbox-input-container{
  position: relative;
  width: 100%;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  user-select: none;
  margin-bottom: 24px;
  margin-top: 8px;
}

.custom-checkbox-wrapper input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.custom-checkbox {
  width: 18px;
  height: 18px;
  border: 2px solid var(--checkbox-color);
  border-radius: 4px;
  background-color: white;
  position: relative;
  transition: background-color 0.2s;
}

.custom-checkbox-wrapper input[type="checkbox"]:checked + .custom-checkbox {
  background-color: var(--checkbox-color);
  border-color: var(--checkbox-color);
}
.custom-checkbox-wrapper p{
  color: var(--text-color);
}
.custom-checkbox-wrapper a{
  color: var(--blue-color);
  text-decoration: none;
}

form button{
  background-color: var(--submit-button);
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
  border: none;
  padding: 16px 24px 16px 24px;
  border-radius: 10px;
  cursor: pointer;
}

form button:disabled{
  background-color: #CCC;
  color: #666;
  cursor: not-allowed;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-top: 32px;
}

footer a{
  text-decoration: none;
  color: var(--text-color);
}


.d-none{
  display: none !important;
}

.error-message-div{
  display: flex;
  justify-content: flex-start;
}

.error-message {
  color: red;
  font-size: 10px;
}

.red-border{
  border: 1px solid red !important;
}

@media (max-width: 900px){
  .logo-div {
    position: static;
    transform: translate(0, 0);
    margin-bottom: 24px;
  }
  .logo{
    position: static;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .wrapper{
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .h1div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media (min-width: 900px) {
  form{
    min-width: 420px;
    margin: 0 8px;
  }
}