#greetingModal{
    position: absolute;
    top: 110px;
    left: 0;
    width: 100%;
    height: calc(100% - 110px);
    z-index: 3;
    background-color: #f6f7f8;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 36px;
    color: #2A3647;
    padding-bottom: 80px;
}
.greetingUser h2{
    font-size: 47px;
    font-weight: 700;
    color: var(--hover-color);
}
.greetingGuest{
    display: flex;
    
}

#greetingModal {
  transition: opacity 0.5s ease, visibility 0.5s ease;
  opacity: 1;
  visibility: visible;
}

#greetingModal.fade-out {
  opacity: 0;
  visibility: hidden;
}