
#templateContent {
  max-width: 1920px;
  position: relative;
}

.summaryContent {
  padding: 110px 96px;

  p {
    color: var(--primary-color);
  }

  .verticalLineBlue,
  .verticalLineGrey {
    width: 2px;
    height: 60px;
  }

  .verticalLineBlue {
    background-color: var(--hover-color);
    margin: 0 24px;
  }

  .verticalLineGrey {
    background-color: var(--outline-color);
  }

  .switchPlaceBox{
    display: flex;
    align-items: center;
  }

  .summaryHeader {
    display: flex;
    align-items: center;
    padding-bottom: 48px;

    p {
      font-size: 24px;
    }
  }

  .summaryFields,
  .summaryFieldsTop {
    display: flex;
    align-items: center;
    padding: 10px;
    /* padding: 24px 56px; */
  }

  /* .summaryFieldsTop {
    padding: 24px 120px;
  } */

  button {
    border-radius: 24px;
    border: none;
    min-width: 168px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;

    &:hover {
      color: var(--white-color);
      background-color: var(--primary-color);
      transform: scale(1.05);

      p {
        color: var(--white-color);
      }

      .bgCirclesGrey {
        background-color: var(--white-color);
      }

      .fieldImgs path {
        fill: var(--primary-color);
      }
    }
  }

  .bottumButtonWrapper{
    max-width: 93px;
  }

  .fieldImgs {
    width: 25px;
    height: 25px;

    path {
      fill: var(--white-color);
    }
  }

  .bgCirclesGrey,
  .bgCirclesRed {
    width: 69px;
    height: 69px;
    border-radius: 50%;
    margin-right: 16px;
    display: grid;
    place-items: center;
  }

  .bgCirclesGrey {
    background-color: var(--primary-color);
  }

  .bgCirclesRed {
    background-color: #ff3d00;
  }

  .middleFieldContent,
  .splitSections {
    display: flex;
    align-items: center;
  }

  .middleFieldWrapper {
    width: 50%;
    padding: 10px;
    display: grid;
    place-items: center;
  }

  .middleField {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;

    p {
      font-size: 20px;
      font-weight: 700;
      padding-bottom: 8px;
    }

    .dateSection {
      display: flex;
      flex-direction: column;
      align-items: start;
    }
  }

  .bottomFields {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
  }
  .bottomFields button {
    display: grid;
    place-items: center;
  }

  .leftSection {
    width: 100%;
    max-width: 560px;
    gap: 32px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    button {
      height: 168px;
      width: 100%;
    }

    .topRowDFlex {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 32px;
    }
    .topRowDFlex button{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .rightSection {
    width: 100%;
    padding-left: 56px;

    span{
      font-size: 47px;
    }
    h2{
      font-size: 64px;
    }
  }
}

@media (max-width: 1316px){
  .splitSections{
    display: flex;
    align-items: flex-start !important;
    flex-direction: column-reverse;
  }
  .rightSection{
    padding: 0 0 56px 0 !important;
  }
}

@media (max-width: 1080px) {
  .templateContent{
    display: grid;
    place-items: center;
  }
  #greetingModal{
    display: flex !important;
  }
  .rightSection{
    display: none;
  }
}

@media (max-width: 750px){
  .summaryContent{
    padding: 110px 30px;
  }
  .splitSections{
    width: 100%;
  }
  .leftSection{
    max-width: 100% !important;
  }
}

@media (max-width: 630px) {
  .summaryContent{
    padding-top: 60px;
  }
  .summaryContent p,
  .summaryContent span {
    font-size: 22px;
  }
  .summaryHeader{
    flex-direction: column;
    align-items: flex-start !important;
  }
  .verticalLineBlue {
    width: 90px !important;
    height: 2px !important;
    margin: 15px 0 0 0 !important;
  }
  .switchPlaceBox{
    flex-direction: column-reverse;
    align-items: flex-start !important;
  }
  .leftSection{
    gap: 20px !important;
  }
  .leftSection button{
    min-width: 116px;
    max-height: 116px;
  }
  .topRowDFlex{
    gap: 20px !important;
  }
  .middleField{
    height: 110px;
  }
  .summaryFields{
    height: 110px;
  }
  .bottomFields{
    flex-wrap: wrap;
    gap: 20px !important;
  }
  .bottomFields button{
    flex: 1 1 116px;
    min-width: 116px;
    height: 116px;
  }
  .dateSection p{
    font-size: 16px;
  }
  .dateSection span{
    font-size: 14px;
  }
  .leftSection p{
    font-size: 14px
  }
  .leftSection h1{
    font-size: 47px;
  }
  .middleFieldLeft span{
    font-size: 14px;
  }
  .bgCirclesGrey, 
  .bgCirclesRed{
    width: 40px !important;
    height: 40px !important;
  }
  .bgCirclesGrey img{
    width: 17.36px !important;
    height: 12.83px !important;
  }
}

@media (max-width: 520px){
  .dateSection p,
  .dateSection span{
    text-align: left;
  }
}

@media (max-width: 450px) {
  
  .summaryContent{
    padding: 60px 20px;
  }
}
