#greetingModal{
    position: absolute;
    top: 110px;
    left: 0;
    width: 100%;
    height: calc(100% - 110px);
    z-index: 3;
    background-color: #f6f7f8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 36px;
    color: #2A3647;
    padding-bottom: 80px;
}
.greetingUser{
    
}
.greetingUser h2{
    font-size: 47px;
    font-weight: 700;
    color: var(--hover-color);
}
.greetingGuest{
    display: flex;
    
}