.w100 {
  width: 100%;
}

.summaryContent {
  padding: 100px;
}

.summaryContent p {
  color: var(--primary-color);
}

.summaryContent .verticalLineBlue,
.summaryContent .verticalLineGrey {
  width: 3px;
  margin: 0 24px;
}
.summaryContent .verticalLineBlue {
  height: 60px;
  background-color: var(--hover-color);
}
.summaryContent .verticalLineGrey {
  width: 2px;
  height: 100px;
  background-color: var(--outline-color);
}

.summaryContent .horizontalLine {
  display: none;
}

.summaryContent .summaryHeader {
  display: flex;
  align-items: center;
  padding-bottom: 48px;
}
.summaryContent .summaryHeader p {
  font-size: 24px;
}

.summaryContent .summaryFields,
.summaryContent .summaryFieldsTop {
  display: flex;
  align-items: center;
}
.summaryContent .summaryFields {
  padding: 24px 56px;
}
.summaryContent .summaryFieldsTop {
  padding: 24px 120px;
}

.summaryContent button {
  border-radius: 24px;
  border: none;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.summaryContent .fieldImgs path {
  fill: var(--white-color);
}

.summaryContent button:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
  transform: scale(1.05);
}
.summaryContent button:hover p {
  color: var(--white-color);
}
.summaryContent button:hover .bgCirclesGrey {
  background-color: var(--white-color);
}
.summaryContent button:hover .fieldImgs path {
  fill: var(--primary-color);
}

.summaryContent .fieldImgs {
  width: 60px;
  height: 60px;
  padding: 16px;
}

.summaryContent .bgCirclesGrey,
.summaryContent .bgCirclesRed {
  border-radius: 50px;
  margin-right: 16px;
}
.summaryContent .bgCirclesGrey {
  background-color: var(--primary-color);
}
.summaryContent .bgCirclesRed {
  background-color: #ff3d00;
}

.summaryContent .middleFieldContent,
.summaryContent .middleField,
.summaryContent .bottomFields,
.summaryContent .splitSections {
  display: flex;
  align-items: center;
}
.summaryContent .middleField {
  justify-content: space-around;
  padding: 28px;
}
.summaryContent .middleField p {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 8px;
}
.summaryContent .middleField .dateSection {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.summaryContent .bottomFields {
  justify-content: space-between;
}

.summaryContent .leftSection,
.summaryContent .rightSection {
  width: 50%;
}
.summaryContent .leftSection button {
  margin-bottom: 24px;
}
.summaryContent .leftSection .topRowDFlex {
  display: flex;
  justify-content: space-between;
}
.summaryContent .rightSection {
  padding-left: 56px;
}
.summaryContent .rightSection h2 {
  color: var(--primary-color);
  font-size: 42px;
  font-weight: 500;
}
.summaryContent .rightSection h3 {
  font-size: 64px;
  font-weight: bold;
  color: var(--hover-color);
}

/* Media Queries */
@media (max-width: 1700px) {
  .summaryContent .summaryFieldsTop {
    padding: 24px 80px;
  }
  .summaryContent .summaryFields {
    padding: 24px 24px;
  }
}

@media (max-width: 1560px) {
  .summaryContent .leftSection {
    width: 70%;
  }
  .summaryContent .summaryFieldsTop {
    padding: 24px 64px;
  }
  .summaryContent .summaryFields {
    padding: 24px 16px;
  }
}

@media (max-width: 1370px) {
  .summaryContent h1 {
    font-size: 56px;
  }
  .summaryContent .rightSection {
    padding-left: 32px;
  }
  .summaryContent .rightSection h3 {
    font-size: 56px;
  }
  .summaryContent .summaryFieldsTop {
    padding: 24px 48px;
  }
  .summaryContent .summaryFields {
    padding: 24px 8px;
  }
}

@media (max-width: 1240px) {
  .summaryContent h1 {
    font-size: 48px;
  }
  .summaryContent p,
  .summaryContent span {
    font-size: 14px;
  }
  .summaryContent .rightSection h3 {
    font-size: 48px;
  }
  .summaryContent .summaryFieldsTop {
    padding: 20px 40px;
  }
  .summaryContent .middleField {
    padding: 16px;
  }
  .summaryContent .summaryFields {
    padding: 20px 8px;
  }
}

@media (max-width: 1150px) {
  .summaryContent h1 {
    font-size: 42px;
  }
  .summaryContent p {
    font-size: 12px;
  }
  .summaryContent .rightSection h2,
  .summaryContent .rightSection h3 {
    font-size: 36px;
  }
  .summaryContent .fieldImgs {
    width: 48px;
    height: 48px;
    padding: 14px;
  }
}

@media (max-width: 1080px) {
  .summaryContent {
    padding: 36px;
  }
  .summaryContent h1 {
    font-size: 56px;
  }
  .summaryContent p,
  .summaryContent span {
    font-size: 16px;
  }
  .summaryContent .fieldImgs {
    width: 56px;
    height: 56px;
    padding: 16px;
  }
  .summaryContent #verticalLine {
    display: none;
  }
  .summaryContent .horizontalLine {
    display: block;
    width: 120px;
    height: 3px;
    background-color: var(--hover-color);
    margin: 1rem 0;
  }
  .summaryContent .leftSection {
    width: 100%;
  }
  .summaryContent .rightSection {
    display: none;
  }
  .summaryContent .summaryFieldsTop {
    padding: 36px 128px;
  }
  .summaryContent .middleField {
    padding: 24px;
  }
  .summaryContent .summaryFields {
    padding: 36px 56px;
  }
  .summaryContent .summaryHeader {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 0;
  }
  .footer-navigation {
    margin-top: 56px;
  }
}

@media (max-width: 830px) {
  .summaryContent .summaryFieldsTop {
    padding: 36px 104px;
  }
  .summaryContent .summaryFields {
    padding: 36px 36px;
  }
}

@media (max-width: 730px) {
  .summaryContent .summaryFieldsTop {
    padding: 28px 68px;
  }
  .summaryContent .summaryFields {
    padding: 28px 16px;
  }
}

@media (max-width: 580px) {
  .summaryContent h1 {
    font-size: 48px;
  }
  .summaryContent p,
  .summaryContent span {
    font-size: 14px;
  }
  .summaryContent .summaryHeader p {
    font-size: 22px;
  }
  .summaryContent .summaryFieldsTop {
    padding: 24px 44px;
  }
  .summaryContent .middleField {
    padding: 16px;
  }
  .summaryContent .summaryFields {
    padding: 24px 8px;
  }
}

@media (max-width: 475px) {
  .summaryContent h1 {
    font-size: 36px;
  }
  .summaryContent p,
  .summaryContent span {
    font-size: 12px;
  }
  .summaryContent .summaryHeader h1 {
    font-size: 48px;
  }
  .summaryContent .summaryHeader p {
    font-size: 20px;
  }
  .summaryContent .fieldImgs {
    width: 44px;
    height: 44px;
    padding: 12px;
  }
  .summaryContent .summaryFieldsTop {
    padding: 20px 32px;
  }
  .summaryContent .middleField {
    padding: 4px;
  }
  .summaryContent .middleField p {
    font-size: 16px;
  }
  .summaryContent .summaryFields {
    padding: 20px 6px;
  }
}

@media (max-width: 405px) {
  .summaryContent {
    padding: 36px 16px;
  }
  .summaryContent h1 {
    font-size: 32px;
  }
  .summaryContent p,
  .summaryContent span {
    font-size: 10px;
  }
  .summaryContent .summaryHeader h1 {
    font-size: 40px;
  }
  .summaryContent .fieldImgs {
    width: 32px;
    height: 32px;
    padding: 9px;
  }
  .summaryContent .summaryFieldsTop {
    padding: 16px 32px;
  }
  .summaryContent .summaryFieldsTop .bgCirclesGrey {
    margin-right: 8px;
  }
  .summaryContent .middleField {
    padding: 4px 4px;
  }
  .summaryContent .middleField .bgCirclesRed {
    margin-right: 8px;
  }
  .summaryContent .summaryFields {
    padding: 16px 6px;
  }
}