.w100 {
  width: 100%;
}

.summaryContent {
  padding: 100px;

  p {
    color: var(--primary-color);
  }

  .verticalLineBlue {
    width: 3px;
    height: 60px;
    background-color: var(--hover-color);
    margin: 0 24px;
  }

  .verticalLineGrey {
    width: 2px;
    height: 100px;
    background-color: var(--outline-color);
    margin: 0 24px;
  }

  .horizontalLine {
    display: none;
  }

  .summaryHeader {
    display: flex;
    align-items: center;
    padding-bottom: 48px;

    p {
      font-size: 24px;
    }
  }

  .summaryFields {
    display: flex;
    align-items: center;
    padding: 24px 56px;
  }

  .summaryFieldsTop {
    display: flex;
    align-items: center;
    padding: 24px 120px;
  }

  button {
    border-radius: 24px;
    border: none;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
  }

  .fieldImgs path {
    fill: var(--white-color);
  }

  button:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
    transform: scale(1.05);

    p {
      color: var(--white-color);
    }

    .bgCirclesGrey {
      background-color: var(--white-color);
    }

    .fieldImgs path {
      fill: var(--primary-color);
    }
  }

  .fieldImgs {
    width: 60px;
    height: 60px;
    padding: 16px;
  }

  .bgCirclesGrey {
    border-radius: 50px;
    background-color: var(--primary-color);
    margin-right: 16px;
  }

  .bgCirclesRed {
    background-color: #ff3d00;
    border-radius: 50px;
    margin-right: 16px;
  }

  .middleFieldContent {
    display: flex;
    align-items: center;
  }

  .middleField {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 28px;

    p {
      font-size: 20px;
      font-weight: 700;
      padding-bottom: 8px;
    }

    .dateSection {
      display: flex;
      flex-direction: column;
      align-items: start;
    }
  }

  .bottomFields {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .splitSections {
    display: flex;
    align-items: center;
  }

  .leftSection {
    width: 50%;

    button {
      margin-bottom: 24px;
    }

    .topRowDFlex {
      display: flex;
      justify-content: space-between;
    }
  }

  .rightSection {
    width: 50%;
    padding-left: 56px;

    h2 {
      color: var(--primary-color);
      font-size: 42px;
      font-weight: 500;
    }

    h3 {
      font-size: 64px;
      font-weight: bold;
      color: var(--hover-color);
    }
  }
}

/*-------------- */
/* MEDIA QUERIES */
/*-------------- */

@media (max-width: 1700px) {
  .summaryContent {
    .summaryFieldsTop {
      padding: 24px 80px;
    }

    .summaryFields {
      padding: 24px 24px;
    }
  }
}

@media (max-width: 1560px) {
  .summaryContent {
    .leftSection {
      width: 70%;
    }

    .summaryFieldsTop {
      padding: 24px 64px;
    }

    .summaryFields {
      padding: 24px 16px;
    }
  }
}

@media (max-width: 1370px) {
  .summaryContent {
    h1 {
      font-size: 56px;
    }

    .rightSection {
      padding-left: 32px;

      h3 {
        font-size: 56px;
      }
    }

    .summaryFieldsTop {
      padding: 24px 48px;
    }

    .summaryFields {
      padding: 24px 8px;
    }
  }
}

@media (max-width: 1240px) {
  .summaryContent {
    h1 {
      font-size: 48px;
    }

    p,
    span {
      font-size: 14px;
    }

    .rightSection {
      h3 {
        font-size: 48px;
      }
    }

    .summaryFieldsTop {
      padding: 20px 40px;
    }

    .middleField {
      padding: 16px;
    }

    .summaryFields {
      padding: 20px 8px;
    }
  }
}

@media (max-width: 1150px) {
  .summaryContent {
    h1 {
      font-size: 42px;
    }

    p {
      font-size: 12px;
    }

    .rightSection {
      h2 {
        font-size: 36px;
      }

      h3 {
        font-size: 36px;
      }
    }

    .fieldImgs {
      width: 48px;
      height: 48px;
      padding: 14px;
    }

    .summaryFieldsTop {
      padding: 20px 40px;
    }

    .middleField {
      padding: 16px;
    }

    .summaryFields {
      padding: 20px 8px;
    }
  }
}

/*-------------- */
/* MOBILE VERSION */
/*-------------- */

@media (max-width: 1080px) {
  .summaryContent {
    padding: 36px;

    h1 {
      font-size: 56px;
    }

    p,
    span {
      font-size: 16px;
    }

    .fieldImgs {
      width: 56px;
      height: 56px;
      padding: 16px;
    }

    #verticalLine {
      display: none;
    }

    .horizontalLine {
      display: block;
      width: 120px;
      height: 3px;
      background-color: var(--hover-color);
      margin: 1rem 0;
    }

    .leftSection {
      width: 100%;
    }

    .summaryFieldsTop {
      padding: 36px 128px;
    }

    .middleField {
      padding: 24px;
    }

    .summaryFields {
      padding: 36px 56px;
    }

    .rightSection {
      display: none;
    }

    .summaryHeader {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-bottom: 0;
    }
  }
}

@media (max-width: 830px) {
  .summaryContent {
    .summaryFieldsTop {
      padding: 36px 104px;
    }

    .summaryFields {
      padding: 36px 36px;
    }
  }
}

@media (max-width: 730px) {
  .summaryContent {
    .summaryFieldsTop {
      padding: 28px 68px;
    }

    .summaryFields {
      padding: 28px 16px;
    }
  }
}

@media (max-width: 580px) {
  .summaryContent {
    h1 {
      font-size: 48px;
    }

    p,
    span {
      font-size: 14px;
    }

    .summaryHeader {
      p {
        font-size: 22px;
      }
    }

    .summaryFieldsTop {
      padding: 24px 44px;
    }

    .middleField {
      padding: 16px;
    }

    .summaryFields {
      padding: 24px 8px;
    }
  }
}

@media (max-width: 475px) {
  .summaryContent {
    h1 {
      font-size: 36px;
    }

    p,
    span {
      font-size: 12px;
    }

    .summaryHeader {
      h1 {
        font-size: 48px;
      }

      p {
        font-size: 20px;
      }
    }

    .fieldImgs {
      width: 44px;
      height: 44px;
      padding: 12px;
    }

    .summaryFieldsTop {
      padding: 20px 32px
    }

    .middleField {
      padding: 4px;

      p {
        font-size: 16px;
      }
    }

    .summaryFields {
      padding: 20px 6px;
    }
  }
}

@media (max-width: 405px) {
  .summaryContent {
    padding: 36px 16px;

    h1 {
      font-size: 32px;
    }

    p,
    span {
      font-size: 10px;
    }

    .summaryHeader {
      h1 {
        font-size: 40px;
      }
    }

    .fieldImgs {
      width: 32px;
      height: 32px;
      padding: 9px;
    }

    .summaryFieldsTop {
      padding: 16px 32px;

      .bgCirclesGrey {
        margin-right: 8px;
      }
    }

    .middleField {
      padding: 4px 4px;

      p {
        font-size: 16px;
      }

      .bgCirclesRed {
        margin-right: 8px;
      }
    }

    .summaryFields {
      padding: 16px 6px;
    }
  }
}









/* @media (max-width: 1700px) {
  .summaryContent {
    .summaryFieldsTop {
      padding: 24px 88px;
    }

    .summaryFields {
      padding: 24px 24px;

      h1 {
        font-size: 56px;
      }
    }

    .middleField {
      h1 {
        font-size: 56px;
      }
    }
  }
}

@media (max-width: 1700px) {
  .summaryContent {
    .summaryFieldsTop {
      padding: 24px 80px;
    }

    .summaryFields {
      padding: 24px 24px;
    }
  }
}

@media (max-width: 1570px) {
  .summaryContent {
    .summaryFieldsTop {
      padding: 24px 72px;
    }
  }
}

@media (max-width: 1500px) {
  .summaryContent {
    .leftSection {
      width: 60%;
    }

    .rightSection {
      width: 40%;

      h3 {
        font-size: 56px;
      }
    }
  }
}

@media (max-width: 1330px) {
  .summaryContent {
    .leftSection {
      width: 65%;
    }

    .rightSection {
      width: 35%;

      h2 {
        font-size: 36px;
      }

      h3 {
        font-size: 36px;
      }
    }
  }
}

@media (max-width: 1260px) {
  .summaryContent {
    .leftSection {
      width: 75%;
    }

    .middleField {
      padding: 16px;
    }

    .rightSection {
      width: 25%;
    }
  }
}

@media (max-width: 1150px) {
  .summaryContent {
    padding: 100px 48px;

    .leftSection {
      .fieldImgs {
        width: 48px;
        height: 48px;
        padding: 12px;
      }

      .summaryFields {
        padding: 16px 16px;

        h1 {
          font-size: 50px;
        }
      }
    }

    .middleField {
      h1 {
        font-size: 50px;
      }
    }

    .rightSection {
      padding-left: 24px;

      h2 {
        font-size: 24px;
      }

      h3 {
        font-size: 24px;
      }
    }
  }
}

@media (max-width: 1005px) {
  .summaryContent {
    & .leftSection {
      .summaryFieldsTop {
        padding: 24px 64px;
      }

      .summaryFields {
        padding: 16px 12px;
      }
    }
  }
}

@media (max-width: 970px) {
  .summaryContent {
    .summaryHeader {
      h1 {
        font-size: 56px;
      }
    }

    .leftSection {
      .summaryFields {
        padding: 16px 16px;

        h1 {
          font-size: 48px;
        }

        p {
          font-size: 12px;
        }
      }

      .summaryFieldsTop {
        padding: 16px 48px;

        h1 {
          font-size: 48px;
        }

        p {
          font-size: 12px;
        }
      }
    }

    .middleField {
      h1 {
        font-size: 48px;
      }
    }
  }
}

@media (max-width: 905px) {
  .summaryContent {
    padding: 36px;

    .leftSection {
      width: 100%;

      .summaryFields {
        padding: 32px 64px;

        h1 {
          font-size: 56px;
        }

        p {
          font-size: 16px;
        }
      }

      .summaryFieldsTop {
        padding: 32px 146px;

        h1 {
          font-size: 56px;
        }

        p {
          font-size: 16px;
        }
      }
    }

    .middleField {
      padding: 24px 16px;

      h1 {
        font-size: 56px;
      }

      p {
        font-size: 24px;
      }

      span {
        font-size: 16px;
      }
    }

    .rightSection {
      display: none;
    }

    .summaryHeader {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      h1 {
        font-size: 56px;
      }

      #verticalLine {
        display: none;
      }
    }

    .horizontalLine {
      display: block;
      width: 120px;
      height: 3px;
      background-color: var(--hover-color);
      margin: 1rem 0;
    }
  }
}

@media (max-width: 880px) {
  .summaryContent {
    & .leftSection {
      .summaryFieldsTop {
        padding: 32px 136px;
      }
    }
  }
}

@media (max-width: 850px) {
  .summaryContent {
    & .leftSection {
      .summaryFields {
        padding: 32px 56px;
      }

      .summaryFieldsTop {
        padding: 32px 130px;
      }
    }
  }
}

@media (max-width: 820px) {
  .summaryContent {
    & .leftSection {
      .summaryFields {
        padding: 32px 44px;
      }

      .summaryFieldsTop {
        padding: 32px 120px;
      }
    }
  }
}

@media (max-width: 775px) {
  .summaryContent {
    & .leftSection {
      .summaryFields {
        padding: 24px 28px;
      }

      .summaryFieldsTop {
        padding: 32px 110px;
      }
    }
  }
}

@media (max-width: 735px) {
  .summaryContent {
    & .leftSection {
      .summaryFields {
        padding: 24px 28px;
      }

      .summaryFieldsTop {
        padding: 32px 96px;
      }
    }
  }
}

@media (max-width: 680px) {
  .summaryContent {
    & .summaryHeader {
      h1 {
        font-size: 48px;
      }

      p {
        font-size: 22px;
      }
    }
  }

  .summaryContent {
    & .leftSection {
      .summaryFields {
        padding: 24px 28px;

        h1 {
          font-size: 40px;
        }

        p {
          font-size: 12px;
        }
      }

      .middleField {
        h1 {
          font-size: 40px;
        }

        p {
          font-size: 16px;
        }

        span {
          font-size: 12px;
        }
      }

      .summaryFieldsTop {
        padding: 32px 88px;

        h1 {
          font-size: 40px;
        }

        p {
          font-size: 12px;
        }
      }
    }
  }
}

@media (max-width: 630px) {
  .summaryContent {
    & .leftSection {
      .summaryFields {
        padding: 24px 32px;
      }

      .summaryFieldsTop {
        padding: 32px 72px;
      }
    }

    .middleField {
      padding: 16px 16px;
    }
  }
}

@media (max-width: 560px) {
  .summaryContent {
    & .leftSection {
      .summaryFields {
        padding: 18px 20px;
      }

      .summaryFieldsTop {
        padding: 32px 56px;
      }
    }
  }
}

@media (max-width: 500px) {
  .summaryContent {
    & .leftSection {
      .summaryFields {
        padding: 24px 8px;
      }

      .summaryFieldsTop {
        padding: 24px 40px;
      }
    }
  }
}

@media (max-width: 430px) {
  .summaryContent {
    & .summaryHeader {
      h1 {
        font-size: 44px;
      }

      p {
        font-size: 20px;
      }
    }
  }

  .summaryContent {
    & .leftSection {
      .fieldImgs {
        width: 40px;
        height: 40px;
        padding: 10px;
      }

      .summaryFields {
        padding: 16px 4px;

        h1 {
          font-size: 36px;
        }

        p {
          font-size: 10px;
        }
      }

      .middleField {
        h1 {
          font-size: 36px;
        }

        p {
          font-size: 12px;
        }

        span {
          font-size: 10px;
        }
      }

      .summaryFieldsTop {
        padding: 16px 24px;

        h1 {
          font-size: 36px;
        }

        p {
          font-size: 10px;
        }
      }
    }
  }
}

@media (max-width: 350px) {
  .summaryContent {
    & .summaryHeader {
      h1 {
        font-size: 32px;
      }

      p {
        font-size: 16px;
      }
    }
  }

  .summaryContent {
    & .leftSection {
      .fieldImgs {
        width: 32px;
        height: 32px;
        padding: 8px;
      }

      .summaryFields {
        padding: 12px 8px;

        h1 {
          font-size: 32px;
        }

        p {
          font-size: 8px;
        }
      }

      .middleField {
        padding: 12px 8px;

        h1 {
          font-size: 32px;
        }

        p {
          font-size: 10px;
        }

        span {
          font-size: 8px;
        }
      }

      .summaryFieldsTop {
        padding: 12px 22px;

        h1 {
          font-size: 32px;
        }

        p {
          font-size: 8px;
        }
      }
    }
  }
} */